*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container {
    width: 800px;
    background: gray;
    margin: 0 auto;
}
#header {
    width: 100%;
    height: 200px;
    background-color: pink;
}
#header h2 {
    color: aliceblue;
    text-align: center;
    padding-top: 60px;
    font-size: 60px;
}
#navigasi {
    width: 100%;
    background-color:whitesmoke;

}
#navigasi ul li{
    padding: 20px;
    display: inline-block;
    color:brown;

}
#artikel {
    width: 500px;
    padding: 20px;   
    background-color: rgb(240, 223, 204);
    float: left;
}#sidebar {
    width: 300px;
    padding: 20px;
    background-color: rgb(145, 127, 161);
    float: right;
}
.clear {
    clear:both;
}
#footer {
    background: paleturquoise;
    padding: 20px;
    text-align: center;
    color: azure;
}